body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card{
	width: 225px;
	margin: 8px;
	margin-left: 10px;
}

.card-body{
	padding: 0.5rem;
}

.cardBody:hover{
	cursor: pointer;
}

.div-add-card, .div-add-list{
	margin-top: -5px;
	margin-left: 1px;
}

.div-add-list{
	margin-left: -4px;
}

.div-add-card{
	margin-bottom: -10px;
}

.btn-add-card, .btn-add-list{
	margin-left: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.btn-add-list{
	margin-left: 10px;
}

.btn-close-add-card{
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 5px;
	padding: 4px;
	font-size: 1.3rem;
	font-weight: 900;
	background: transparent;
	border: none;
	color: rgba(61, 61, 61, 0.6);
}

.btn-close-add-card:hover{
	background: transparent;
	color: rgba(61, 61, 61, 1);
	transform: scale(1.1);
}
.btn-close-add-card:focus, .btn-close-add-card:active{
	background: transparent !important;
	color: rgba(61, 61, 61, 1);
	border: none !important;
	box-shadow: none !important;
}

.btn-add-another-card, .btn-add-another-list{
	position: relative;
	margin: 5px;
	margin-top: -3px;
	margin-bottom: 11px;
	padding: 0;
	padding-right: 20px;
	border-radius: 4px;
}

.btn-add-another-list{
	background-color: rgb(228, 225, 225);
	width: 240px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	padding-right: 92px;
}

.btn-add-another-card:hover, .btn-add-another-list:hover{
	text-decoration: none;
	/* background-color: rgba(61, 61, 61, 0.31); */
}

.textarea-add-card, .textarea-add-list{
	width: 223px;
	color: rgb(0, 0, 0);
	margin-top: -30px;
	margin-right: 20px;
	margin-left: -4px;
	resize: none;
	min-height:30px;
	height: unset;
	padding: 0.5rem;
	border: none;
	border-radius: 4px;
}

.textarea-add-list{   
	 padding-top: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
	margin-top: -25px;
	margin-right: 5px;
	margin-left: -4px;
	font-weight: bold;
}

.textarea-list-title, .textarea-list-title-editing{
	height: 30px;
	width: 223px;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 11px;
	margin-bottom: 0px;
	padding-right: 100px;
	resize: none;
	overflow: hidden;
	overflow-wrap: break-word;
	cursor: pointer;
}

.textarea-add-list:hover{
	cursor: pointer;
}

.textarea-list-title{
	padding-left: 5px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	cursor: pointer;
}

.textarea-list-title-editing{
	padding: 5px;
	padding-top: 0px;
	border: 0px solid rgb(145, 145, 145) !important;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
}

.dragHandle{
	cursor: pointer !important;
	position: relative;
	height: 40px;
	width: auto;
	margin-bottom: -40px;
}

.window-overlay{
	align-items: flex-start;
	background-color: rgba(0,0,0,.64);
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
	display: none;
}

.window{
	display: block;
	background-color: #f4f5f7;
	border-radius: 2px;
	display: none;
	margin: 48px 0 80px;
	overflow: hidden;
	position: relative;
	width: 500px;
	z-index: 25;
}

.card-window{
	min-height: 400px;
}

.btn-close-card-window{
	position: absolute;
	top:0;
	right: 0;
	margin-right: 10px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 5px;
	padding: 4px;
	font-size: 1.3rem;
	font-weight: 900;
	background: transparent;
	border: none;
	color: rgba(61, 61, 61, 0.6);
}

.btn-close-card-window:hover{
	background: transparent;
	color: rgba(61, 61, 61, 1);
	transform: scale(1.2);
}

.btn-close-card-window:active, .btn-close-card-window:focus{
	background: transparent !important;
	color: rgba(61, 61, 61, 1);
	border: none !important;
	box-shadow: none !important;
}